  
version: 2.1
jobs:
  build:
    docker:
      - image: circleci/python:3.8.1
    steps:
      - checkout
      - run: pip install pystrich
      - run:
          name: Hello World x times
          command: 
            .
            python app.py


